/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Consolas", monospace;
}

/* Background */
body {
    background: #000;
    color: #00ff88;
    overflow: hidden;
}

/* Neon Text */
.highlight {
    color: #00ffcc;
    text-shadow: 0 0 10px #00ffcc;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: rgba(0, 255, 100, 0.05);
    border-bottom: 1px solid #00ff88;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #00ff88;
    transition: 0.3s;
}

nav a:hover {
    text-shadow: 0 0 10px #00ff88;
}

/* Hero Section */
.hero {
    text-align: center;
    margin-top: 120px;
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}

/* Button */
.btn {
    margin-top: 25px;
    padding: 10px 25px;
    border: 2px solid #00ff88;
    background: transparent;
    color: #00ff88;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #00ff88;
    color: #000;
    box-shadow: 0px 0px 15px #00ff88;
}

/* Matrix effect */
.matrix {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://i.imgur.com/1Xo9zQs.gif");
    opacity: 0.2;
    z-index: -1;
}
#typing {
    font-size: 20px;
    margin-top: 10px;
    color: #00ffaa;
    text-shadow: 0 0 8px #00ffaa;
}
